In [9]:
import json
import pandas as pd
import numpy as np

df = pd.read_json("experimental_data.json", orient="index")
list = df.iloc[:, 0].to_numpy()
list = 100 - list

print(df)

# printing the adversarial attack success rate
print(list)

                0
resnet18      5.2
resnet101    86.1
resnext50    81.6
densenet121  58.4
mobilenet    52.8
vit          87.4
swin         76.1
inceptionv3  64.2
[94.8 13.9 18.4 41.6 47.2 12.6 23.9 35.8]

In [36]:
# create a subset of the 1000 images from the Admix dataset
import os

path = "data/val_loa"

names = pd.read_csv("data/val_rs.csv")
names_new = names[names['filename'].isin(os.listdir(path))]
names_new.to_csv("data/val_loa.csv", index=False)

In [37]:
df = pd.read_csv("data/val_loa.csv")
df

                        filename  label
0   ILSVRC2012_val_00001689.JPEG    519
1   ILSVRC2012_val_00001827.JPEG    603
2   ILSVRC2012_val_00003377.JPEG    205
3   ILSVRC2012_val_00002983.JPEG    937
4   ILSVRC2012_val_00002369.JPEG    969
..                           ...    ...
95  ILSVRC2012_val_00002280.JPEG    491
96  ILSVRC2012_val_00002467.JPEG     90
97  ILSVRC2012_val_00001653.JPEG    964
98  ILSVRC2012_val_00002347.JPEG    619
99  ILSVRC2012_val_00002342.JPEG    774

[100 rows x 2 columns]